@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f8fe;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4da6ff;
}

.Toastify__toast--error svg {
  fill: #ff4d4d !important;
}

.Toastify__progress-bar--error {
  background: #ff4d4d !important;
}
